{%extends 'base.html'%}

{%block content%}
get your quote
    <form action="/quote/" method="post">
        {% csrf_token %}
        {{ manual_form }}
        <input type="submit" value="Submit" name="form">
    </form>
<br>

{{price}}
{%if user.is_authenticated%}




<br>
upload your document 
<form action="/quote/" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ upload_form }}
    <input type="submit" value="Upload" name="form">

</form>
<br>
    {{ price}}<br>


    <form action="/add_to_basket/" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ add_to_basket_form }}
        <input type="submit" value="Add to basket" name="form">
    
    </form>

    {%endif%}

{%endblock%}