{%extends 'base.html'%}

{%block content%}

<br>

<div class="quote_form">
<form class="form-inline">
<select id="category">
    <option value="academic">Academic</option>
    <option value="general">General</option>
</select>

<input type="number" min="1" id="count" placeholder="1">

</form>
<button class="get-quote-btn" onclick="quote()">Get quote</button>
</div>
<br>
<div id="total">
 
</div>

</div>
<br>


Please <a href="{% url 'quote_logged' %}">login</a> in order to upload your documents for a quote<br><br>
   Don't have an account? <a href="{%url 'signup'%}?next=/quote_logged/">Sign up!</a>
    

<script>
    function quote(){
      document.getElementById("total").innerHTML = "";
      category = document.getElementById("category").value;
      count = document.getElementById("count").value;
      if (count > 1000) 
           { price = count / 100}
      else 
           {price = 10}
      if (category != "general") {price = price * 1.1}
      price = Math.round(price).toFixed(2);
      discount = (price / 100 * 80).toFixed(2);
      document.getElementById("total").innerHTML = "An estimated price is " + "<span id=\"crossed\"> €" + price + "</span>"+"<span class=\"handwrite\"> €" + discount + "</span>";
      
    }
</script>


{%endblock%}