{%extends 'base.html'%}{%block title%} Preliminary Quote{%endblock%}

{%block content%}


<h3><span class="handwrite"> Preliminary </span> Quote:</h3>

<!--preliminary quote form-->
<div class="quote_form">
    <form class="form-inline">
      <div class="wrapper">

        <!--drop down menu for choosing the category -->
        <select id="category" class="form-input" required>
           <option value="" disabled selected>Choose category</option>
           <option value="academic">Academic</option>
           <option value="general">General</option>
        </select>
       
       <!--tooltip explaining the purpose of the form select field-->
       <span class="tooltips">
          <i class="fas fa-question-circle"></i>
             <span class="tooltip-text">
                Please choose category. Non-academic proofreading is 10% cheaaper.
             </span>
       </span>
      </div>
<br>
      <div class="wrapper">
         <input type="number" min="1" class="form-input" id="count" placeholder=" number of words">
         <!--tooltip explaining the purpose of the form number input field-->
        <span class="tooltips">
            <i class="fas fa-question-circle"></i>
            <span class="tooltip-text">
             How many words your document contains?
            </span>
        </span>
      </div>
    </form>
    <button class="get-quote-btn" onclick="quote()">Get quote</button>
</div>


<br>

<div id="total">
</div>


<br>


<div class="login-signup">
   <p>
   Please <a href="{% url 'quote_logged' %}" class="login">Login</a> in order to upload your documents for a <span class="handwrite">real </span> quote<br><br>
   Don't have an account? <a href="{%url 'signup'%}?next=/quote_logged/" class="signup">Sign up!</a> 
   </p>
</div>


{%endblock%}