{%extends 'base.html'%}
{%block content%}


{% if messages %}
    {% for message in messages %}
       
        {%if "quote" in message.tags%}
        <!--used in js to get quote reference and price for the basket-->
         <div id="quote_ref">
          {{message.message}}
         </div>
        {%endif%}
        {%if "price" in message.tags%}
         <div id="price">
           {{message.message}}
         </div>
        {%endif%}
    {% endfor %}
{%endif%}


   
   {%if user.is_authenticated%}



<br>




<div class="quote_form">
        <h3>Get your <span class="handwrite">Quote:</span></h3>
        <hr>
<form action="/quote_logged/" method="post"  enctype="multipart/form-data" class="form-inline" id="quoteForm" name="quoteForm"> 
    {% csrf_token %}
 <div class="wrapper">
    <select id="category" class="form-input" required name="category">
            <option value="choose" disabled selected>Category</option>
            <option value="academic">Academic</option>
            <option value="general">General</option>
    </select>

     <span class="tooltips">

                <i class="fas fa-question-circle"></i>
               <span class="tooltip-text">
                    Please choose category. Non-academic proofreading is 10% cheaaper.
               </span>
            </span>
</div>
<div class="wrapper">
    {{ upload_form }}
    <span class="tooltips">

            <i class="fas fa-question-circle"></i>
           <span class="tooltip-text">
               Describe your document  (e.g. "{{user}}'s' CV".)
           </span>
        </span>
        </div>
    <br>

  <div class="wrapper">

    <!-- custom upload button from https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/-->
    <label class="form-input" id="file_label" for="file">Choose a file</label>
    <input type="file" name="document" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
   
    <!----------------------------------------------------------------------------------------------------------------->
    <span class="tooltips">

            <i class="fas fa-question-circle"></i>
           <span class="tooltip-text">
                Upload a file for proofreading. Files with .rtf extentions are preferable.
           </span>
        </span>

   </div>
   
 
    <input type="submit"  class="hidden" name="form" value="Upload" id="upload">  
 
    
     
</form>
<button class="get-quote-btn" onclick="quote2()" type="button" name="form">Get quote</button>

<br>
{% if messages %}
    {% for message in messages %}
       {%if "price" in message.tags%}
       <div id="total">
            Was  <span id="crossed">€ {{message.message}} </span><span class="handwrite"> Now only € <span id="discount"></span></span><br>
       </div>
      {%endif%}
    {% endfor %}
{%endif%}

{%if messages%}
   {%for message in messages%}
     {%if "added" == message.message%}
       <div class="message">
           Your quote has been added to your basket!
       </div>
       <div >
            Proceed to your <a href="{% url 'basket' %}" >basket &nbsp<i class="fas fa-shopping-cart"></i></a>
        </div>
     {%endif%}
   {%endfor%}
{%endif%}
    <form action="/add_to_basket/" method="post"  enctype="multipart/form-data" id="add_to_basket_form" >
        {% csrf_token %}
        {{ add_to_basket_form}}
   
        <input type="submit" value="Add to basket" name="form" id="add_to_basket_btn">
    
    </form>
   
{%endif%}




<script>
/*if quote reference and price is given by django in <div id="price"> and <div id="price"> 
then get values and enable addToBasket button  */
if (document.getElementById("quote_ref") ){

quote_ref = document.getElementById("quote_ref").innerText;
document.getElementById("id_quote_ref").value = quote_ref;
document.getElementById("add_to_basket_btn").style.visibility = "visible";
price = document.getElementById("price").innerText;
price = price.toString()
discount = price * 0.9;
document.getElementById('discount').innerText = Math.round(discount).toFixed(2);;
window.scrollTo(0,document.body.scrollHeight);

}
/*--------------------------------------------------------------------------*/




    /*script enables custom upload button from https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = "";
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		if( fileName )
			document.getElementById("file_label").innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});
/*#######################################################*/


</script>

{%endblock%}