{%extends 'base.html'%}

{%block content%}
<div>basket</div>


<br>



{%for eachItem in list%}

   € {{eachItem.price}},
   Quote number  {{eachItem.quote_ref}}

   <form action="/remove_from_basket/" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
   
    <input type="hidden" value={{eachItem.quote_ref}} name="quote_ref">
    <input type="submit" value="remove" name="remove_form">

</form>
  
{%endfor%}

{%if total != 0%}
total: € {{total}}<br>


<form action="/checkout/" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="{{str_of_refs}}" name="str_of_refs">
    <input type="hidden" value="{{total}}" name="total">
   
    <input type="submit" value="Checkout">
</form>
{%else%}
 Your basket is empty
{%endif%}

{%endblock%}