{%extends 'base.html'%}{%block title%} Checkout {%endblock%}



{%block content%}

<h2>Buy for €{{total}}</h2>


<form action="{% url 'payment' %}" method="post">

    {% csrf_token %}

    <input type="hidden" value="{{total2}}" name="total2">
    <input type="hidden" value="{{str_of_refs}}" name="str_of_refs">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_FcTy4xQKWoX1SICMgjWEu6VL00F2f4bL1f"
            data-amount="{{total2}}"
            data-locale="auto">
    </script>
  </form>
  <button class="pay-btn" onclick="pay()">
    Pay with card
  </button>
  
  <script>
      stripe_btn = document.getElementsByClassName("stripe-button-el");
      stripe_btn[0].style.display = 'none';
      function pay(){
        stripe_btn[0].click();
      }
  </script>

{%endblock%}