body{
    font-family: 'Rajdhani', sans-serif;
}

  .navbar{
   box-shadow:  0px -10px 50px grey;
   width:100%
  }
.nav-item a{
  color: #393D3F;
  padding-left: 2em;
  padding-right: 1em
  
}
.nav-item a:hover{
  text-decoration: none;
  font-weight: bold
}
#navbarNav{
    text-align: right
}

.logo{
    font-family: 'Indie Flower', cursive; 
    font-size: 1.4em;
    color: #393D3F;
}
.logo:hover, .main-nav-item:hover{
    color: #393D3F;
    text-decoration: none;
    font-weight: bolder
}
.fa-shopping-basket{
    font-size: 2em;
    color: #6c757d;
    float:right
}




.main-content{
    margin-top: 2em;
    text-align: center;
}
/*index page*/
.headline{
    
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
}



#crossed{
    text-decoration: line-through;
    text-decoration-color: #E3170A;
    display: inline;
  
  }
  



.handwrite{
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
    color: #E3170A;
    display: inline-block;
  


}

.get-quote-btn, .general-btn, .checkout-btn, .pay-btn{
    background-color: #393D3F;
    color: white;
    border: solid #393D3F;
    height: 3em;
    border-radius: 3px;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    display: block;
}

.get-quote-btn:hover, .general-btn:hover, .checkout-btn:hover, .pay-btn:hover{
    background-color: rgb(94, 97, 98);
    border-color:  rgb(94, 97, 98);
}
.upload-btn{
    border: solid 1px #dee2e6;
    width: 80%;
    margin: auto;

}
input{
    margin: 1em;
}
.hidden{
    visibility: hidden

}




.inline{
    display: inline}


 /*script enables custom upload button from https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}


.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}
/***********************************************************/
.custom-upload{
    width:100%
}



#id_description{
    padding-left: 0.3em;
}


  
.quote_form{
    text-align: center;
    max-width: 20em;
    margin:auto;
}

.form-input, .myfieldclass{
    display: inline-block;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    border: solid 1px #dee2e6;
    margin-bottom: 1em;
    border-radius: 3px;
    padding: 0.1em;
    height: 2em;

}
.reupload-form{
    display:inline
}
.form-reupload{

    border: none;
    background-color: transparent;
    height: fit-content;
    font-size: 1em;
   
}
.reupload_file_input{
    border: none;
    background-color: transparent;
}
::-webkit-input-placeholder { /* Edge */
    color: rgb(59, 55, 55);
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: rgb(59, 55, 55);;
  }
  
  ::placeholder {
    color: rgb(59, 55, 55);;
  }

  input:focus, select:focus{
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px #393D3F;
  }

  a, button{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
  }






/*fade in */
.fadein{
    transform: rotate(-5deg);
    display: inline-block;
    
    animation: fadein ;
    -moz-animation: fadein; /* Firefox */
    -webkit-animation: fadein ; /* Safari and Chrome */
    -o-animation: fadein; /* Opera */
    opacity: 0 ;
    animation-duration: 3s;
    animation-delay: 4.8s;
    animation-fill-mode : forwards;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*quote page*/
.login, .signup{
    background-color: #393d3f;
    border: solid 1px #393d3f;
    color: white;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.login:hover, .signup:hover{
    background-color: rgb(94, 97, 98);
    border-color:  rgb(94, 97, 98);
}
.login-signup{
    width:80%;
    margin: auto;
    text-align: center
}
#total{
    text-align: center;
    font-size: 2em;
}
/* Strikethrough   modified code from //codepen.io/EdenSG/pen/jPENoE*/

.strikethrough {
	display: inline-block;
	position: relative;

	
}

.strikethrough:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: -0.7em;
	background: transparent;
	transform-origin: center left;
	animation: strikethrough 1s 0s cubic-bezier(.55, 0, .1, 1) 1;
	animation-delay:3.3s;
	animation-fill-mode: forwards;
   
}


/* Keyframes for initial animation */

@keyframes strikethrough {
	from {
		transform: scaleX(0); background: red;
	}
	to {
		transform: scaleX(1); background: red;
	}
}

/*Typewriter modified code from https://codepen.io/geoffgraham/pen/jrWwWM*/
.typewriter {

	display: inline-block;
}

.typewriter-text{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    
    white-space: nowrap;
    border-right: 4px solid rgb(51, 51, 50);
    box-sizing: border-box;
}


/*@keyframes typing {
    0% {  width: 0% }
    10% {width: 10%}
    20% {width:10%}
    50% {width:37%}
    60% {width:37%}
    100% { width: 100%}
}
*/
@keyframes typing {
    0% {  width: 0% }
    20% {width: 14%}
    30% {width:14%}
    50% {width:37%}
    60% {width:37%}
    100% { width: 100%}
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(87, 82, 82); 
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}




.fill-error {
    position: relative;
    animation: error .1s linear;
    animation-iteration-count: 4;
    border-color: red;
}

@keyframes error {
    0% { right: -6px; }
    100% { left: -6px; }
}

.message{
    text-align: center;
    margin:auto;
    width:80%;
    color:red;
    animation: message;
    animation-duration: 6s;
    animation-fill-mode: forwards; 
}
@keyframes message{
    0% {opacity: 1}
    25% {opacity:1}
    100% {opacity: 0}
}

#get-quote-btn{
    position: relative;
    top:-70px;
    animation-name: quote_btn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; 
    animation-delay: 4.3s
}

@keyframes quote_btn{
    0%   { top:-70px;}
    100% {top:-10px;}
}


/*tooltips from https://www.w3schools.com/css/css_tooltip.asp*/
.tooltips {
    position: relative;
    left: 1em;
  }
  
  .tooltips .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #393d3f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: bold;
 
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  .tooltips:hover .tooltip-text {
    visibility: visible;
    animation-name: tooltip;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
  }


  @keyframes tooltip{
    0%   { opacity: 0;}
    100% {opacity: 1;}
}

#add_to_basket_btn{
    visibility: hidden;
    background-color: transparent;
    border: solid 2px #393d3f;
    color: #393d3f;
    height: 3em;
    border-radius: 3px;
    padding-left: 2em;
    padding-right: 2em;
}
#add_to_basket_btn:hover{
    color:white;
    background-color: #393d3f;
}
tr:nth-child(even) {background-color: #f2f2f2;}


@media only screen and (min-width: 500px) {
   .headline{
       font-size: 2em;
   }
   .login-signup{
       font-size: 1.2em;
   }
  }

  @media only screen and (min-width: 650px) {
    .headline{
        font-size: 2.6em;
    }
   }
 .errorlist{
     color: red
 }

 #quote_ref, #price{
    
    color: transparent;
 }
#file_label{
    width: 80%;
    text-align: left;
    padding-left: 0.3em;
    display:inline-block
}

#id_files{
    visibility: hidden;
    width:1px;
}
#id_message{
    width: 80%;
    float: left;
}
#custom_submit{
    display: none;
}
#custom_ipload_name{

}
.chat_text{
    height: 4em;
    width:100%
}

.chat_box{
    
    height: 60vh;
    max-width: 35em;
    margin: auto;
}
.chat_area{
    height: 80%;
    overflow: scroll;
    background-color: #ebebeb;
    
}
.left{
    text-align: left;

}
.right{
    text-align: right;
   
}
.left, .right{
    width:100%
}

.wrapper{
    width:100%
}
a {
    color: #393D3F;
}
a:hover{
   font-weight: bolder;
   color:  #393D3F;

}
.left_span, .right_span{
    border: solid #adb5bd 1px;
    border-radius: 0.4em;
    color: #393d3f;
    background-color: white;
    padding: 0.4em 1em;
    margin:1em;
    font-weight: bolder;
}
#send{
    display: inherit;
    height: 4em;
    width: 20%;
    background-color:  #393d3f;
    color: white;
    border: none;
}
.time{
    font-weight: normal
}
.remove{
    background-color: transparent;
    border: none;
    font-weight: bold;

}
.basket_table{
    margin: auto;
    max-width: 30%
}
table{
    margin:auto;
    width: 100%
}


