

  .navbar{
   box-shadow:  0px -10px 50px grey;
   width:100%
  }
.nav-item a{
  color: #393D3F;
  padding-left: 2em;
  padding-right: 1em
  
}
.nav-item a:hover{
  text-decoration: none;
  font-weight: bold
}

.logo{
    font-family: 'Indie Flower', cursive; 
    font-size: 1.4em;
    color: #393D3F;
}
.logo:hover, .main-nav-item:hover{
    color: #393D3F;
    text-decoration: none;
    font-weight: bolder
}
.fa-shopping-basket{
    font-size: 2em;
    color: #6c757d;
    float:right
}




.main-content{
    margin-top: 2em;
   
}
/*index page*/
.headline{
    
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
}



#crossed{
    text-decoration: line-through;
    text-decoration-color: #E3170A;
    display: inline;
  
  }
  



.handwrite{
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    color: #E3170A;
    display: inline-block;
  


}
.quote_btn{
    text-align: center;
    width: 80%;
    margin: auto
    
}
.get-quote-btn{
    background-color: #393D3F;
    color: white;
    border: solid #393D3F;
    height: 3em;
    border-radius: 3px;
    width: 80%;
    margin: auto;
    display: block;
}
input{
    margin: 1em;
}
#category, #count{
    
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    border: solid 1px #dee2e6;
    margin-bottom: 1em;
    border-radius: 3px;
    padding: 0.1em;
    height: 2em;

}

::-webkit-input-placeholder { /* Edge */
    color: rgb(59, 55, 55);
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: rgb(59, 55, 55);;
  }
  
  ::placeholder {
    color: rgb(59, 55, 55);;
  }

  input:focus, select:focus{
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px #393D3F;
  }

  a, button{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
  }


#price{

  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode : forwards
}

@keyframes example {
  0% {transform-origin: 0% 23%;}
  25% {transform-origin: 0% 0%;}
  50% {transform-origin: 0% 23%;}
  100% {transform-origin: 0% 0%;}
}


/*fade in */
.fadein{
    transform: rotate(-5deg);
    display: inline-block;
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    opacity: 0 ;
    animation-delay: 5.6s;
    animation-fill-mode : forwards;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*quote page*/
.login, .singup{
    background-color: #393d3f;
    border: solid 1px #393d3f;
    color: white;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.login:hover, .singup:hover{
    border: solid 2px #393d3f;
    color:white
}
.login-singup{
    width:80%;
    margin: auto;
}
#total{
    text-align: center;
    font-size: 2em;
}
/* Strikethrough   modified code from //codepen.io/EdenSG/pen/jPENoE*/

.strikethrough {
	display: inline-block;
	position: relative;
	
	
}

.strikethrough:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	
	margin-top: -0.7em;
	background: transparent;
	transform-origin: center left;
	
	animation: strikethrough 1s 0s cubic-bezier(.55, 0, .1, 1) 1;
	animation-delay:4.6s;
	animation-fill-mode: forwards;
	
}


/* Little hover effect */

.strikethrough:hover {
	color: rgba(200,0,0,1);
	background: rgba(255, 189, 182, 0.3);
}

.strikethrough:hover:after {
	transform: scaleX(0);
	transform-origin: center right;
}




/* Keyframes for initial animation */

@keyframes strikethrough {
	from {
		transform: scaleX(0); background: red;
	}
	to {
		transform: scaleX(1); background: red;
	}
}

/*Typewriter modified code from https://codepen.io/geoffgraham/pen/jrWwWM*/
.typewriter {

	display: inline-block;
}

.typewriter-text{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    
    white-space: nowrap;
    border-right: 4px solid rgb(51, 51, 50);
    box-sizing: border-box;
}


@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(87, 82, 82); 
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}




.fill-error {
    position: relative;
    animation: error .1s linear;
    animation-iteration-count: 4;
   
}

@keyframes error {
    0% { right: -6px; }
    100% { left: -6px; }
}