

  .navbar{
   box-shadow:  0px -10px 50px grey;
   width:100%
  }
.nav-item a{
  color: #393D3F;
  padding-left: 2em;
  padding-right: 1em
  
}
.nav-item a:hover{
  text-decoration: none;
  font-weight: bold
}

.logo{
    font-family: 'Indie Flower', cursive; 
    font-size: 2em;
    color: #393D3F;
}
.logo:hover, .main-nav-item:hover{
    color: #393D3F;
    text-decoration: none;
    font-weight: bolder
}
.fa-shopping-basket{
    font-size: 2em;
    color: #6c757d;
    float:right
}




.main-content{
    margin-top: 4em;
    width: 80%;
    margin: auto
}
/*index page*/
.headline{
    width: 60%;
    margin: auto;
    margin-top: 40vh;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
#crossed{
    text-decoration: line-through;
    text-decoration-color: #E3170A;
    display: inline;
}
#handwrite{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    color: #E3170A;
    display: inline;


}
.quote_btn{
    text-align: center
}



  