<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>


   <div style="border: solid 1px; width:100%">

    <a href="{%url 'index'%}">home</a>

    {%if user.is_authenticated%}
        Hi {{user}}  
         <a href="{% url 'user_account' %}">account</a>
         <a href="{% url 'logout' %}">log out</a>
    {%else%}
         {%if request.path != "/quote/" %}
         <a href="{% url 'user_account' %}">Log in</a>
         {%else%}
         <a href="{% url 'quote_logged' %}">log in</a>
         {%endif%}
    {%endif%}
  

 
       
        
   
       
      
      
    {%if user.is_authenticated%}
       <a href="{% url 'quote_logged' %}">Instant Quote</a>
       <a href="{% url 'basket' %}">basket</a>
     {%else%}
       <a href="{% url 'quote' %}">Instant Quote</a>
     {%endif%}


    </div>


  


    {%block content%}
    {%endblock%}
</body>
</html>