<!DOCTYPE html>

<html lang="en">
    {% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
  <link 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
  <script src="https://kit.fontawesome.com/67abfedbba.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rajdhani&display=swap" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/js.js' %}"></script>

  <title>{%block title%}{%endblock%}</title>
</head>
<body>
  
<header>
      <!--Bootstrap navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand logo" href="{%url 'index'%}" >Proof<span class="handwrite">reading</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                {%if user.is_authenticated%}
                {%if not user.is_superuser%}
                <li class="nav-item">
                    <a href="{% url 'basket' %}" >Basket &nbsp<i class="fas fa-shopping-cart"></i></a>&nbsp
                </li>
                {%endif%}
              <li class="nav-item">
                  <a href="{% url 'user_account' %}" >Account &nbsp<i class="fas fa-user"></i></a>&nbsp
              </li>
              <li class="nav-item">
                  <a href="{% url 'logout' %}">Log out &nbsp<i class="fas fa-sign-out-alt"></i></a>
              </li>
              <li class="nav-item">
                    <a href="#bannerformmodal" data-toggle="modal" data-target="#contactFormModal">Contact <i class="fas fa-envelope"></i></a>
                </li>
              {%else%}
              <li class="nav-item">
                <a href="#bannerformmodal" data-toggle="modal" data-target="#contactFormModal">Contact <i class="fas fa-envelope"></i></a>
              </li>
              <li class="nav-item">
                {%if request.build_absolute_uri != "https://freelancer-ci.herokuapp.com/login/?next=/user_account/" or request.build_absolute_uri != "https://freelancer-ci.herokuapp.com/login/?next=/quote_logged/"%}
                  {%if request.build_absolute_uri == "https://freelancer-ci.herokuapp.com/quote/"%}
                  <a href="{% url 'quote_logged' %}"> Log in <i class="fas fa-sign-in-alt"></i></a>
                  {%else%}
                  <a href="{% url 'user_account' %}"> Log in <i class="fas fa-sign-in-alt"></i></a>
                  {%endif%}
                {%endif%}
              </li>
            {%endif%}
            </ul>
            &nbsp
            {%if not user.is_superuser%}
               {%if user.is_authenticated%}
            <a href="{% url 'quote_logged' %}" id="quote">
                <button class="general-btn" id="quote-top-btn" >Instant Quote</button>
            </a>
    
           {%else%}
          <a href="{% url 'quote' %}" id="quote">
              <button class="general-btn" id="quote-top-btn" name="nav-btn">Instant Quote</button>
          </a>
          {%endif%}
          
           {%endif%} 
    
      </nav>
</header>
<section>
     <!--Bootstrap Modal Pop Up (contact form)-->
     <div class="modal fade" id="contactFormModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <div class="contactFormHeader">
                    <h4>Contact Us</h4>
                  </div>

                  <button onclick="javascript:window.location.reload()" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="line"><div class="red"></div><div class="green"></div><div class="yellow"></div></div>
                <div class="modal-body">
                            <iframe class="contactFormiFrame" src="{% url 'contact' %}">
                            </iframe>
                </div>
                <div class="modal-footer">
                         <button type="button" onclick="javascript:window.location.reload()" class="btn-close btn btn-default btn-sm" data-dismiss="modal">
                            Close
                        </button>
                </div>
              </div>
              
            </div>
            </div>
</section>
<main>
  <div class="container-fluid main-content">
    {%block content%}
    {%endblock%}
  </div>
</main>


{%if request.build_absolute_uri == "https://freelancer-ci.herokuapp.com/" or request.build_absolute_uri == "https://freelancer-ci.herokuapp.com/quote/" or request.build_absolute_uri == "https://freelancer-ci.herokuapp.com/quote_logged/" or request.build_absolute_uri == "https://freelancer-ci.herokuapp.com/logout/"%}
    <!--script hides quote button in the navbar (to avoid haveing two get quote buttons ect...)-->
    <script>
        document.getElementById("quote").style.display = "none"
     </script>
{%endif%}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>