{%extends 'base.html'%}



{%block content%}
<div class="headline">
  <h1>Professional
     Proof<span id="crossed">writing</span> <span id="handwrite"><strong>reading</strong></span> Services
  </h1>
</div>
<div class="quote_btn">
    {%if user.is_authenticated%}
    
        <a href="{% url 'quote_logged' %}">
            <button class="btn btn-secondary btn-sm" >Instant Quote</button>
        </a>

   {%else%}
      <a href="{% url 'quote' %}">
          <button class="btn btn-secondary btn-sm" name="nav-btn">Instant Quote</button>
      </a>
   {%endif%}
</div>

{% if messages %}

    {% for message in messages %}
    
      {%if "login success" != message.message%}
        {{message}}
    {%endif%}
    {% endfor %}
</ul>
{% endif %}



{%endblock%}