{%extends 'base.html'%}{%block title%} Proofreading services{%endblock%}

{%block content%}


{% if messages %}
    {% for message in messages %}
      {%if "logout" == message.message%}
      <!--informs user of succsessful log out -->
      <div class="message">
        Logged out!
      </div>
    {%endif%}
    {% endfor %}
{%endif%}



<section>
  <!--Homepage animation-->
<div class="headline">
    <div class="typewriter">
    <div class="typewriter-text">
          <strong><span>Professional</span>
          <span class="strikethrough">Proofwriting</span></strong>
    </div>
    </div>
    <div>
    <div class="handwrite fadein"><strong>Proofreading</strong></div>  
    <div class="movein"></div>
  </div>
</div>

<br>

<div class="quote_btn" id="get-quote-btn">
    {%if user.is_authenticated%}
        <a href="{% url 'quote_logged' %}">
            <button class="get-quote-btn" >Instant Quote</button>
        </a>

   {%else%}
      <a href="{% url 'quote' %}">
          <button class="get-quote-btn" name="nav-btn">Instant Quote</button>
      </a>
   {%endif%}
</div>

</section>

{%endblock%}