{%extends 'base.html'%}



{%block content%}
<div class="headline">
   
  <div class="typewriter">

    <div class="typewriter-text">
        <span>Professional</span>
       <span class="strikethrough">Proofwriting</span>
    </div>
  </div>
  <div>
  <div class="handwrite fadein"><strong>proofreading</strong></div>  
  <div class="movein"></div>
 </div>
         

        
  

  

</div>
<br>
<div class="quote_btn">
    {%if user.is_authenticated%}
    
        <a href="{% url 'quote_logged' %}">
            <button class="btn btn-secondary btn-sm" >Instant Quote</button>
        </a>

   {%else%}
      <a href="{% url 'quote' %}">
          <button class="get-quote-btn" name="nav-btn">Instant Quote</button>
      </a>
   {%endif%}
</div>

{% if messages %}

    {% for message in messages %}
    
      {%if "login success" != message.message%}
        {{message}}
    {%endif%}
    {% endfor %}
</ul>
{% endif %}



{%endblock%}