{%extends 'base.html'%}

{%block title%}
User log in
{%endblock%}

{%block content%}
{{request.get_full_path}}
<h1>user login</h1>
<div class="quote_form">
    <form method="POST">
        {% csrf_token %}
        {{loginForm.as_p}}
        <a href="{% url 'password_reset' %}" id="forgot">Frogot you password?</a>

        <button type="submit" class="general-btn">log in</button>
    </form>
</div>
<br>

<div class="login-signup">
          <p>  Don't have an account? 
            {%if request.build_absolute_uri == "https://freelancer-ci.herokuapp.com//login/?next=/quote_logged/"%}
            <a href="{%url 'signup'%}?next=/quote_logged/"class="signup"> Sign up!</a>
            {%else%}
            <a href="{%url 'signup'%}?next=/user_account/" class="signup">Sign up!</a>
            {%endif%}
            </p>
</div>
{%endblock%}

