{%extends 'base.html'%}

{%block title%}
User log in
{%endblock%}

{%block content%}

    <h1>user login</h1>

{%if request.build_absolute_uri != "http://127.0.0.1:8000/login/?next=/quote_logged/"%}
<a href="{%url 'signup'%}?next=/user_account/">Sign up!</a>
{%else%}


{%endif%}
<div class="quote-form">
    <form method="POST">
        {% csrf_token %}
        {{loginForm.as_p}}
        <button type="submit" class="general-btn">log in</button>
    </form>
</div>
    <div class="login-singup">
    Don't have an account? <a href="{%url 'signup'%}?next=/quote_logged/" class="singup">Sign up!</a>
    </div>
{%endblock%}