{% extends 'base.html' %}

{% block content %}
  <h2>Request password change</h2>
  <form method="post"class="reset-form">
    {% csrf_token %}
    <label>Email:</label>
    <div class="wrapper">
      <input type="text" name="email" class="form-input" placeholder="e.g. john@email.com" required id="email">
      <span class="tooltips">
  
              <i class="fas fa-question-circle" aria-hidden="true"></i>
             <span class="tooltip-text">
                 Your email address that you have used to register on site.
             </span>
          </span>
          </div>
   
    <button type="submit" class="general-btn" id="forgot-btn"> Request </button>
  </form>
{% endblock %}