{% extends 'base.html' %} {%block title%} Passwword change{%endblock%}

{% block content %}
  {% if validlink %}
    <h2>Reset password</h2>
    <form method="post" class="reset-form" id="a">
      {% csrf_token %}
     {{form.as_p}}
      <button type="submit" class="general-btn">Reset password</button>
    </form>
  {% else %}
    <p>
    Passwword reset went wrong. :( Please request another password reset link <a href="{% url 'password_reset' %}">here</a>
    </p>
  {% endif %}
{% endblock %}