{% extends 'base.html'%}

{% block content%}


   


<div class="container">
  {%if not user.is_superuser%}

  <h3>My orders</h3>

  <table style="width:80%">
    <tr>
        <th>Quote #</th>
        <th>Title</th> 
        <th>Files</th>
        <th>Status</th>
      </tr>
 {%for eachOrder in orders%}

 <tr>
   
   <td>{{eachOrder.0}}</a></td>
   <td>{{eachOrder.1}}</td>
  
   <td> 
    {%for eachFile in eachOrder.3%}
        {%if eachOrder.2 == "SUBMITTED"%}
          <a href="{{eachFile.1}}" download class="download">  {{eachFile.0}} <i class="fas fa-file-download"></i></a>
          <br>
        {%else%}
          <span id="crossed">{{eachFile.0}}</span> <span class="handwrite"><a href="{{eachFile.1}}" download class="download handwrite">{{eachFile.0}} <i class="fas fa-file-download"></i> </a></span>
        <br>
          {%endif%}
   {%endfor%}

   </td>

   <td>{%if eachOrder.2 == "SUBMITTED"%}Pending...{%endif%}</td>
 </tr>

   
 {%endfor%}

 {%else%}
superuser
<table style="width:80%">
  <tr>
      <th>Quote #</th>
      <th>Title</th> 
      <th>Files</th>
      <th>Status</th>
    </tr>


<tr>
 
 <td></a></td>
 <td></td>

 <td> 
 

 </td>

 <td></td>
</tr>
</table>
{%for eachOrder in orders%}
   {{eachOrder.status}}
{%endfor%}

  {%endif%} 
       
         
     
      


        
        {%if count != 0%}
         
       
          
        {%else%}
          You have no orders
        {%endif%}
        
      </div>
    </div>
  </div>

     


{%endblock%}